<h1><%= t('.title.update') %></h1>

<div class="actions">
  <%= link_to t('.cancel'),
  registration_path(resource_name),
  data: { confirm: t('.cancel_confirm') },
  method: :delete,
  class: "btn btn-red btn-cross" %>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %>
    <%= f.required_text_field :name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.required_email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('.password_hint') %>)</i>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('.update_hint') %>)</i>
    <%= f.required_password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('.update'), class: 'btn btn-blue btn-greater' %>
  </div>
<% end %>
