<h2><%= t('.title') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <% f.object.invitation_token = params[:invitation_token] if f.object.invitation_token.blank? %>
  <%= f.hidden_field :invitation_token %>

  <div class="field">
    <%= f.label :name %>
    <% f.object.name = params[:guest_name] if f.object.name.blank? %>
    <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up'), class: 'btn btn-green btn-plus' %>
  </div>
<% end %>
