<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :locale %>
    <div class="radio-buttons">
      <%= form.collection_radio_buttons :locale,
        available_locales_for_radio_buttons,
        :value,
        :label %>
    </div>
  </div>

  <div class="field">
    <%= form.label :color_scheme %>
    <div class="radio-buttons">
      <%= form.collection_radio_buttons :color_scheme,
        available_color_schemes_for_radio_buttons,
        :value,
        :label %>
    </div>
  </div>

  <div class="field">
    <%= form.label :cards_per_review %>
    <%= form.required_number_field :cards_per_review %>
  </div>

  <div class="field">
    <%= form.label :repeat_easy_card %>
    <%= form.required_number_field :repeat_easy_card %>
  </div>

  <div class="field">
    <%= form.label :repeat_medium_card %>
    <%= form.required_number_field :repeat_medium_card %>
  </div>

  <div class="field">
    <%= form.label :repeat_hard_card %>
    <%= form.required_number_field :repeat_hard_card %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-blue btn-check" %>
  </div>

  <script type="text/javascript">
    (function colorSchemeChangePreviewer() {
      let $ = document.querySelectorAll.bind(document),
          body = $("body")[0],
          radios = $("input[type=radio][name='setting[color_scheme]']");

      function addRadioOnClick(radio) {
        radio.addEventListener("click", () => setChosenScheme(radio));
      }

      function setChosenScheme(radio) {
        body.className = radio.value + "-theme";
      }

      function addEventListeners() {
        radios.forEach((radio) => {
          addRadioOnClick(radio);
          if (radio.checked) setChosenScheme(radio);
        });
      }

      addEventListeners();
    })();
  </script>
<% end %>
