<p id="notice"><%= notice %></p>

<h1>Review Cards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |review_card| %>
      <tr>
        <td><%= link_to 'Show', review_card %></td>
        <td><%= link_to 'Edit', edit_review_card_path(review_card) %></td>
        <td><%= link_to 'Destroy', review_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review Card', new_review_card_path %>
