<div class="review-status">
  <%= @review.reviewed_on_session %>/<%= @review.queue.size %>
</div>

<div class="review-difficulty">
  <%= form_tag([@review, @review.current_card, :change_difficulty], method: :patch) do %>
    <% Card::DIFFICULTY_LEVELS.each do |label, value| %>
      <%= button_to_change_difficulty label, value %>
    <% end %>
  <% end %>
</div>

<div class="review-card">
  <div class="review-card-front">
    <%= @review.current_card.front %>
  </div>
  <div class="review-card-back">
    <%= @review.current_card.back %>
  </div>
</div>

<div class="review-answer">
  <%= link_to t('.miss'), review_card_miss_path(@review, @review.current_card),
    class: 'review-answer-miss' %>

  <%= link_to t('.hit'), review_card_hit_path(@review, @review.current_card),
    class: 'review-answer-hit' %>
</div>
