<div class="review-status">
  <%= @review.queue_position %>/<%= @review.total_queue_size %>
</div>

<div class="review-difficulty">
  <%= form_tag_patch :change_difficulty do %>
    <% Card::DIFFICULTY_LEVELS.each do |label, value| %>
      <%= button_to_change_difficulty label, value %>
    <% end %>
  <% end %>
</div>

<div class="review-card">
  <div class="review-card-front">
    <%= @review.current_card.front %>
  </div>
  <div class="review-card-back">
    <%= @review.current_card.back %>
  </div>
</div>

<div class="review-answer">
  <%= form_tag_patch :answer do %>
    <%= button_tag t('.answers.wrong'),
                   value: Review::WRONG_ANSWER,
                   name: :answer %>
    <%= button_tag t('.answers.right'),
                   value: Review::RIGHT_ANSWER,
                   name: :answer %>
  <% end %>
</div>
