<%= form_with(model: [:admin, invitation], local: true) do |f| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :locale %>
    <div class="radio-buttons">
      <%= f.collection_radio_buttons :locale,
        available_locales_for_radio_buttons,
        :value,
        :label %>
    </div>
  </div>

  <div class="field">
    <%= f.label :guest_name %>
    <%= f.required_text_field :guest_name %>
  </div>

  <div class="field">
    <%= f.label :guest_email %>
    <%= f.text_field :guest_email %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn btn-blue btn-greater" %>
  </div>
<% end %>
