<h1><%= t('.title') %></h1>

<div class="actions">
  <%= link_to t('.new'), new_admin_invitation_path, class: "btn btn-blue btn-plus" %>
</div>

<% if @invitations.any? %>
  <div class="invitations-list">
    <% @invitations.each do |invitation| %>
      <%= link_to [:admin, invitation], class: "invitation" do %>
        <p><span><%= t('.guest_name') %></span><%= invitation.guest_name %></p>
        <p><span><%= t('.guest_email') %></span><%= invitation.guest_email %></p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="info">
    <p>
      <%= t('.none_invitation_msg') %>
    </p>
  </div>
<% end %>
