<h3><%= "#{t('.title')}: #{card.deck.name}" %></h3>
<%= form_with(model: [card.deck, card], local: true) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :front %>
    <%= f.text_area :front %>
  </div>

  <div class="field">
    <%= f.label :back %>
    <%= f.text_area :back %>
  </div>

  <div class="field">
    <%= f.label :difficulty_level %>
    <%= f.collection_radio_buttons :difficulty_level,
      difficulty_levels_for_radio_button,
      :value,
      :label %>
  </div>

  <% unless @card.new_record? %>
    <div class="field">
      <%= f.label :learned %>
      <%= f.check_box :learned %>
    </div>

    <div class="field">
      <%= f.label :review_count %>
      <span><%= card.review_count %></span>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
