<%= form_with(model: [card.deck, card], local: true) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @card.new_record? %>
    <div class="field checkbox">
      <%= f.check_box :learned %>
      <%= f.label :learned %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :front %>
    <%= f.required_text_area :front %>
  </div>

  <div class="field">
    <%= f.label :back %>
    <%= f.required_text_area :back %>
  </div>

  <div class="field">
    <%= f.label :difficulty_level %>
    <div class="choose-difficulty">
      <%= f.collection_radio_buttons :difficulty_level,
        difficulty_levels_for_radio_button,
        :value,
        :label %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn btn-blue btn-greater"%>
  </div>
<% end %>
