<h1><%= t('.title', deck_name: @deck.name) %></h1>
<%# TODO: implements backend for search form %>
<%= form_tag('/asd', method: :get, class: 'search-form') do %>
  <div class="radio-buttons">
    <%= radio_button_tag 'search_in', 'front', params[:search_in] == 'front' || true %>
    <%= label_tag "search_in_front", t('.front') %>

    <%= radio_button_tag 'search_in', 'back', params[:search_in] == 'back' %>
    <%= label_tag "search_in_back", t('.back') %>
  </div>

  <div class="field-action">
    <%= search_field_tag 'search', params[:search_text] %>
    <%= button_tag t('.search'), data: { disable_with: "" }, class: "btn btn-blue btn-magnifier" %>
  </div>
<% end %>

<h3>
  <%= t('.found_cards', number: @deck.cards.size) if @deck.cards %>
</h3>

<% @deck.cards.each do |card| %>
  <div class="card">
    <div class="card-status card-<%= card.learned %>"></div>
    <div class="card-front">
      <label for="card-front-content"><%= t('.front') %></label>
      <div class="show-text card-front-content" id='card-front-content'>
        <%= card.front %>
      </div>
    </div>
    <div class="card-back">
      <label for="card-back-content"><%= t('.back') %></label>
      <div class="show-text card-back-content" id='card-back-content'>
        <%= card.back %>
      </div>
    </div>
    <div class="card-statistics">
      <label for="card-statistics-content"><%= t('.statistics') %></label>
      <div class="show-text card-statistics-content" id='card-statistics-content'>
        <p><%= t('.learned', learned: card.learned) %></p>
        <p><%= t('.review_count', review_count: card.review_count) %></p>
        <p><%= t('.hit_count', hit_count: card.hit_count) %></p>
        <p><%= t('.miss_count', miss_count: card.miss_count) %></p>
      </div>
    </div>
    <div class="actions card-actions">
      <%= link_to 'Show', [card.deck, card], class: 'btn btn-green btn-magnifier btn-inline' %>
      <%= link_to 'Edit', [:edit, card.deck, card], class: 'btn btn-blue btn-greater btn-inline' %>
      <%= link_to 'Destroy', [card.deck, card], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-red btn-cross btn-inline' %>
    </div>
  </div>
<% end %>
