<h1><%= t('.title', deck_name: @deck.name) %></h1>
<%# TODO: implements backend for search form %>
<%= form_tag('/asd', method: :get, class: 'search-form') do %>
  <div class="radio-buttons">
    <%= radio_button_tag 'search_in', 'front', params[:search_in] == 'front' || true %>
    <%= label_tag "search_in_front", t('.front') %>

    <%= radio_button_tag 'search_in', 'back', params[:search_in] == 'back' %>
    <%= label_tag "search_in_back", t('.back') %>
  </div>

  <div class="field-action">
    <%= search_field_tag 'search', params[:search_text] %>
    <%= button_tag t('.search'), data: { disable_with: "" }, class: "btn btn-blue btn-magnifier" %>
  </div>
<% end %>

<h3>
  <%= t('.found_cards', number: @deck.cards.size) if @deck.cards %>
</h3>

<% [@deck.cards.first, @deck.cards.first, @deck.cards.first].each do |card| %>
  <div class="card">
    <%= link_to [card.deck, card] do %>
    <div class="card-front">
      <label class="card-content-label" for="card-front-content"><%= t('.front') %></label>
      <div class="show-text card-content" id='card-front-content'>
        <%= card.front %>
      </div>
    </div>
    <div class="card-back">
      <label class="card-content-label" for="card-back-content"><%= t('.back') %></label>
      <div class="show-text card-content" id='card-back-content'>
        <%= card.back %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
