<h1><%= t('.title', deck_name: @deck.name) %></h1>
<%# TODO: implements backend for search form %>
<%= form_tag('/asd', method: :get, class: 'search-form') do %>
  <div class="radio-buttons">
    <%= radio_button_tag 'search_in', 'front', params[:search_in] == 'front' || true %>
    <%= label_tag "search_in_front", t('.front') %>

    <%= radio_button_tag 'search_in', 'back', params[:search_in] == 'back' %>
    <%= label_tag "search_in_back", t('.back') %>
  </div>

  <div class="field-action">
    <%= search_field_tag 'search', params[:search_text] %>
    <%= button_tag t('.search'), data: { disable_with: "" }, class: "btn btn-blue btn-magnifier" %>
  </div>
<% end %>

<% @deck.cards.each do |card| %>
  <div class="card">
    <div class="card-status card-<%= card.learned %>"></div>
    <div class="field card-front">
      <label for="card-front-content"><%= t('.front') %></label>
      <div class="show-text card-front-content" id='card-front-content'>
        <%= card.front %>
      </div>
    </div>
    <div class="field card-back">
      <label for="card-back-content"><%= t('.back') %></label>
      <div class="show-text card-back-content" id='card-back-content'>
        <%= card.back %>
      </div>
    </div>
    <div class="field show-text card-statistics">
      <p><%= t('.review_count', review_count: card.review_count) %></p>
      <p><%= t('hit_count', hit_count: card.hit_count) %></p>
      <p><%= t('miss_count', miss_count: card.miss_count) %></p>
    </div>
    <div class="actions card-actions">
      <%= link_to 'Show', [card.deck, card], class: 'btn btn-green btn-magnifier btn-inline' %>
      <%= link_to 'Edit', [:edit, card.deck, card], class: 'btn btn-blue btn-greater btn-inline' %>
      <%= link_to 'Destroy', [card.deck, card], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-red btn-cross btn-inline' %>
    </div>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Front</th>
      <th>Back</th>
      <th>Difficulty level</th>
      <th>Learned</th>
      <th>reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deck.cards.each do |card| %>
      <tr>
        <td><%= card.front %></td>
        <td><%= card.back %></td>
        <td><%= card.difficulty_level %></td>
        <td><%= card.learned %></td>
        <td><%= card.review_count %></td>
        <td><%= link_to 'Show', [card.deck, card] %></td>
        <td><%= link_to 'Edit', [:edit, card.deck, card] %></td>
        <td><%= link_to 'Destroy', [card.deck, card], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
