<p id="notice"><%= notice %></p>

<h1>Deck: <%= @deck.name %></h1>

<h3>Flash Cards</h3>

<table>
  <thead>
    <tr>
      <th>Front</th>
      <th>Back</th>
      <th>Difficulty level</th>
      <th>Learned</th>
      <th>Views</th>
      <th>Deck</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.front %></td>
        <td><%= card.back %></td>
        <td><%= card.difficulty_level %></td>
        <td><%= card.learned %></td>
        <td><%= card.views_count %></td>
        <td><%= link_to 'Show', [card.deck, card] %></td>
        <td><%= link_to 'Edit', [:edit, card.deck, card] %></td>
        <td><%= link_to 'Destroy', [card.deck, card], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_deck_card_path(@deck) %>
