<h1><%= @card.deck.name %></h1>

<div class="actions">

</div>

<div class="field">
  <label><%= t('.front') %></label>
  <div class="show-text"><%= @card.front %></div>
</div>

<div class="field">
  <label><%= t('.back') %></label>

  <div class="show-text"><%= @card.back %></div>
</div>

<div class="field show-text">
  <p>
    <%= t('.difficulty_level') %>:
    <%= t_difficulty_level @card.difficulty_level %>
  </p>

  <p>
    <%= t('.learned') %>:
    <%= bool_to_yes_or_no @card.learned %>
  </p>

  <p>
    <%= t('.review_count') %>:
    <%= @card.review_count %>
  </p>

  <p>
    <%= t('.hit_count') %>:
    <%= @card.hit_count %>
  </p>

  <p>
    <%= t('.miss_count') %>:
    <%= @card.miss_count %>
  </p>
</div>

<div class="actions">
  <%= link_to t('edit'), [:edit, @card.deck, @card], class: "btn btn-orange btn-bang" %>
  <%= link_to t('destroy'), [@card.deck, @card], method: :delete, data: { confirm: t('.ask_confirm_delete') }, class: 'btn btn-red btn-cross' %>
</div>
