<h1><%= t('.title') %></h1>

<div class="field">
  <label><%= t('.front') %></label>
  <div class="show-text"><%= @card.front %></div>
</div>

<div class="field">
  <label><%= t('.back') %></label>

  <div class="show-text"><%= @card.back %></div>
</div>

<div class="field show-text">
  <p>
    <%= t('.difficulty_level') %>:
    <%= t_difficulty_level @card.difficulty_level %>
  </p>

  <p>
    <%= t('.learned') %>:
    <%= bool_to_yes_or_no @card.learned %>
  </p>

  <p>
    <%= t('.review_count') %>:
    <%= @card.review_count %>
  </p>

  <p>
    <%= t('.hit_count') %>:
    <%= @card.hit_count %>
  </p>

  <p>
    <%= t('.miss_count') %>:
    <%= @card.miss_count %>
  </p>
</div>

<div class="actions">
  <%= link_to "#{t('.deck')} #{@card.deck.name}", [@card.deck], class: "btn btn-green btn-greater" %>
  <%= link_to t('edit'), [:edit, @card.deck, @card], class: "btn btn-orange btn-bang" %>
</div>
