<h2><%= t('.title') %></h2>
<p>
  <strong><%= t('.deck') %>:</strong>
  <%= @card.deck.name %>
</p>

<p>
  <strong><%= t('.front') %>:</strong>
  <%= @card.front %>
</p>

<p>
  <strong><%= t('.back') %>:</strong>
  <%= @card.back %>
</p>

<p>
  <strong><%= t('.difficulty_level') %>:</strong>
  <%= t_difficulty_level @card.difficulty_level %>
</p>

<p>
  <strong><%= t('.learned') %>:</strong>
  <%= bool_to_yes_or_no @card.learned %>
</p>

<p>
  <strong><%= t('.review_count') %>:</strong>
  <%= @card.review_count %>
</p>

<p>
  <strong><%= t('.hit_count') %>:</strong>
  <%= @card.hit_count %>
</p>

<p>
  <strong><%= t('.miss_count') %>:</strong>
  <%= @card.miss_count %>
</p>

<%= link_to t('back'), :back %> |
<%= link_to t('edit'), [:edit, @card.deck, @card] %>
