<%= form_with(model: deck, local: true) do |form| %>
  <% if deck.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="field choose-color">
    <%= form.label :color %>
    <% Deck::HEX_COLORS.each do |hex_code| %>
      <%= form.radio_button :color, hex_code, style: "color=#{hex_code}" %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
