<%= form_with(model: deck, local: true) do |form| %>
  <% if deck.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.required_text_field :name %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <div class="choose-color">
      <% Deck::HEX_COLORS.each do |hex_code| %>
        <%= form.radio_button :color, hex_code %>
        <%= label_tag "deck_color_#{hex_code.delete('#')}", "", style: "background: #{hex_code}" %>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit nil, class: "btn btn-green" %>
  </div>
<% end %>
