<h1><%= t('.title') %></h1>

<%= link_to t('.new'), new_deck_path %>

<table>
  <thead>
    <tr>
      <th><%= t('.table.header.name') %></th>
      <th><%= t('.table.header.detail') %></th>
      <th colspan="4"><%= t('.table.header.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= deck.name %></td>
        <td><%= deck.detail %></td>
        <td><%= link_to t('.table.links.add_card'), new_deck_card_path(deck) %></td>
        <td><%= link_to t('.table.links.show'), deck_cards_path(deck) %></td>
        <td><%= link_to t('.table.links.edit'), edit_deck_path(deck) %></td>
        <td><%= link_to t('.table.links.destroy'), deck, method: :delete, data: { confirm: t('.table.links.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
