<h1><%= t('.title') %></h1>

<div class="actions">
  <%= link_to t('.new'), new_deck_path, class: "btn btn-green btn-plus" %>
</div>

<% if @decks && @decks.empty? %>
  <div class="info">
    <p>
      <%= t('.none_deck_msg') %>
    </p>
  </div>
<% else %>
  <div class="deck-list">
    <% @decks.each do |deck| %>
      <div class="deck">
        <%= link_to(deck, class: "deck-info", style: "color: #{deck.color}") do %>
          <span class="deck-name"  >
            <%= deck.name %>
          </span>
          <% if deck.daily_review_done? %>
            <span class="deck-review-done" ></span>
          <% else %>
            <span class="deck-review-todo" ></span>
          <% end %>
        <% end %>
        <div class="deck-actions">
          <%= link_to t('.new_card'),
                      new_deck_card_path(deck),
                      class: "btn btn-blue btn-plus" %>
          <%= link_to(t('.start_review'),
                      start_deck_review_path(deck),
                      class: "btn btn-green btn-greater"
                      ) if deck.has_cards_to_review? %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
