<p id="notice"><%= notice %></p>

<h1>Decks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= deck.name %></td>
        <td><%= deck.detail %></td>
        <td><%= link_to 'Show', deck %></td>
        <td><%= link_to 'Edit', [:edit, deck] %></td>
        <td><%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deck', new_deck_path %>
