<h1><%= @deck.name %></h1>

<div class="actions">
  <%= link_to t('destroy'), @deck, method: :delete, data: { confirm: t('.ask_confirm_delete') }, class: 'btn btn-red btn-cross' %>
</div>

<% if @deck.detail.present? %>
  <div class="field show-text">
    <%= @deck.detail %>
  </div>
<% end %>

<div class="field show-text">
  <p>
    <%= t('.daily_review') %>
    <%= @deck.daily_review_done? %>
  </p>
  <p>
    <%= t('.offensive') %>
    <%= @deck.offensive %>
  </p>
  <p>
    <%= t('.reviews_completed') %>
    <%= @deck.reviews_completed %>
  </p>
  <p>
    <%= t('.cards_count') %>
    <%= @deck.cards_count %>
  </p>
  <p>
    <%= t('.learned_count') %>
    <%= @deck.learned_cards_count %>
  </p>
</div>

<div class="actions">
  <%= link_to t('.new_card'), new_deck_card_path(@deck), class: "btn btn-blue btn-plus"  %>
  <%= link_to t('.start_review'), start_deck_review_path(@deck), class: "btn btn-green btn-greater" %>
  <%= link_to t('edit'), [:edit, @deck], class: "btn btn-orange btn-bang" %>
  <%= link_to t('.search_cards'), deck_cards_path(@deck), class: "btn btn-magnifier" %>
</div>
