<%= form_with(model: review, local: true) do |f| %>

  <% if review.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cards_per_day %>
    <%= f.text_field :cards_per_day %>
  </div>

  <div class="field">
    <%= f.label :repeat_easy %>
    <%= f.text_field :repeat_easy %>
  </div>

  <div class="field">
    <%= f.label :repeat_medium %>
    <%= f.text_field :repeat_medium %>
  </div>

  <div class="field">
    <%= f.label :repeat_hard %>
    <%= f.text_field :repeat_hard %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
