<%= form_with(url: update_settings_deck_review_path(deck),
  model: deck,
  local: true) do |f|
%>

  <% if deck.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cards_per_review %>
    <%= f.text_field :cards_per_review %>
  </div>

  <div class="field">
    <%= f.label :repeat_easy_card %>
    <%= f.text_field :repeat_easy_card %>
  </div>

  <div class="field">
    <%= f.label :repeat_medium_card %>
    <%= f.text_field :repeat_medium_card %>
  </div>

  <div class="field">
    <%= f.label :repeat_hard_card %>
    <%= f.text_field :repeat_hard_card %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
