<!DOCTYPE html>
<html lang=<%= I18n.locale %>>
  <head>
    <title>FlashCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <%= render "layouts/icons" %>
    <link rel="manifest" href="/manifest.json">
  </head>

  <body class="<%= cookies[:color_scheme] %>-theme" >
    <div class="loading" style="display: none;">
      <div class="pacman"></div>
      <div class="dot"></div>
    </div>
    <% if user_signed_in? %>
      <header>
        <button id="button-navbar-toggle" class="button-hamburger" ></button>
      </header>
      <div class="wrapper">
        <nav class="nav">
          <ul>
            <li><%= link_to t('.decks'), decks_path %></li>
            <% if current_user.admin? %>
            <li><%= link_to t('.invitations'), admin_invitations_path %></li>
            <li><%= link_to t('.users'), admin_users_path %></li>
            <% end %>
            <li><%= link_to t('.profile_settings'), edit_user_registration_path %></li>
            <li><%= link_to t('.settings'), settings_path %></li>
            <li><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, data: { confirm: t('confirm_question') } %></li>
          </ul>
        </nav>
    <% else %>
    <header>
      <h1 class="center" >Flash Cards</h1>
    </header>
    <% end %>
      <main>
        <% if notice || alert %>
          <div class="notices">
            <% if notice %>
              <p class="notice"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert"><%= alert %></p>
            <% end %>
          </div>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
  <% if user_signed_in? %>
    <script type="text/javascript">
      (function mainMenu() {
        let nav = document.querySelector('.nav'),
            button = document.querySelector('#button-navbar-toggle'),
            closed = true;

        function close() {
          button.classList.remove('button-cross');
          nav.classList.remove('open');
          nav.classList.add('close');
          closed = true;
        };

        function open() {
          button.classList.add('button-cross');
          nav.classList.remove('close');
          nav.classList.add('open');
          closed = false;
        };

        function setDynamicMarginWhenClosed() {
          nav.style.setProperty("--dynamic-nav-margin-top",
                            ` -${nav.clientHeight}px`);
        };

        function toggle() {
          closed ? open() : close();
        };

        function addEventListeners() {
          nav.onclick = toggle;
          window.onresize = setDynamicMarginWhenClosed;
          button.onclick = toggle;
        };

        function setup() {
          setDynamicMarginWhenClosed();
          addEventListeners();
        };

        setup();
      })();
    </script>
  <% end %>
</html>
