<!DOCTYPE html>
<%# TODO: Configure lang attribute %>
<html>
  <head>
    <title>FlashCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  </head>

  <body class="<%= cookies[:color_scheme] %>-theme" >
    <% if user_signed_in? %>
      <header>
        <button id="button-navbar-toggle" class="button-hamburger" ></button>
      </header>
      <div class="wrapper">
        <nav class="nav close">
          <ul>
            <li><%= link_to t('.decks'), decks_path %></li>
            <li><%= link_to t('.profile_settings'), edit_user_registration_path %></li>
            <li><%= link_to t('.settings'), settings_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to t('.invitations'), admin_invitations_path %></li>
              <li><%= link_to t('.users'), admin_users_path %></li>
            <% end %>
            <li><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, data: { confirm: t('confirm_question') } %></li>
          </ul>
        </nav>
    <% else %>
    <header>
      <h1 class="center" >Flash Cards</h1>
    </header>
    <% end %>

      <main>
        <% if notice || alert %>
          <div class="notices">
            <% if notice %>
              <p class="notice"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert"><%= alert %></p>
            <% end %>
          </div>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
  <script type="text/javascript">
    (function(){
      let mainNav = document.querySelector('.nav'),
          btnNavToggle = document.querySelector('#button-navbar-toggle');
      mainNav.style.setProperty("--dynamic-nav-margin-top",
                                ` -${mainNav.clientHeight}px`);

      btnNavToggle.addEventListener('click', function() {
        if (mainNav.classList.contains('close')) {
          mainNav.classList.remove('close');
          this.classList.add('button-cross');
        } else {
          mainNav.classList.add('close');
          this.classList.remove('button-cross');
        }
      })
    })();
  </script>
</html>
