<!DOCTYPE html>
<html>
  <head>
    <title>FlashCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>

        <ul>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          </li>
          <li>
            <%= link_to 'Editar perfil', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'All Decks', decks_path  %>
          </li>
        </ul>

    <% end %>

  <!--[TODO] Devise requirements, after I think about do it better  -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>

</html>
