<!DOCTYPE html>
<html>
  <head>
    <title>FlashCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  </head>


  <% if user_signed_in? %>
    <body class="<%= current_user.setting.color_scheme %>-theme" >
      <header>
        <button class="button-hamburger" onclick="toggleNav()" ></button>
      </header>
      <nav class="nav close">
        <ul>
          <li><%= link_to t('.decks'), decks_path %></li>
          <li><%= link_to t('.profile_settings'), edit_user_registration_path %></li>
          <li><%= link_to t('.settings'), settings_path %></li>
          <li><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, data: { confirm: t('confirm_question') } %></li>
        </ul>
      </nav>
  <% else %>
    <body class="<%= Setting.default_color_scheme %>-theme" >
  <% end %>

    <main>
      <% if notice || alert %>
        <div class="notices">
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
  <script type="text/javascript">
    var mainNav = document.querySelector('.nav');
    function toggleNav() {
      if (mainNav.classList.contains('close')) {
        mainNav.classList.remove('close');
      } else {
        mainNav.classList.add('close');
      }
    }
  </script>
</html>
