<!DOCTYPE html>
<html>
  <head>
    <title>Vagrant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </div>
    <%= yield %>

  <!--[TODO] Devise requirements, after I think about do it better  --!>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>

</html>
